$font-size: 14px;
$line-height: 1.3;
$font-family: 'Lato', sans-serif;
$font-family--primary: 'Libre Baskerville', serif;
$font-family--secondary: 'Inter', sans-serif;
$font-weight-light: 300;
$font-light: 300;
$font-weight-regular: 400;
$font-regular: 400;
$font-weight-bold: 700;
$font-bold: 700;
$font-weight-extra-bold: 700;
$font-extra-bold: 700;

// Colors
$black: #000;
$white: #fff;
$alto: #d8d8d8;
$mine-shaft: #3e3e3e;
$dove-gray: #717171;
$titan-white: #ecefff;
$wild-sand: #f5f5f5;
$blue-haze: #cfd2e5;
$kashmir-blue: #52608f;
$mercury: #e6e6e6;
$athens-gray: #e8eaed;
$periwinkle: #D6E0FF;
$gallery: #EFEFEF;
$gray: #8A8A8A;
$gallery: #efefef;
$gray: #8a8a8a;

$color-primary: #405089;
$color-primary-lighter: #526199;
$color-primary-darker: #263875;
$color-error: #d0021b;
$color-success: #0c9d58;

$color-text-primary: #3d3d3d;
$color-text-error: #e35b46;
$color-text-dark: #707070;
$color-text-success: $color-success;
$tooltip-back-color: #062840;

$color-border-primary: #d8d8d8;
$color-light-background: #eeeeee;
$color-checkbox-edge: #979797;

$color-brand-docsumo: #4d61fc;
$color-brand-lighter: #f7f8ff;

$header-height: 60px;
$sidebar-width: 275px;
$page-title-height: 55px;
$page-footer-height: 60px;
$toast-width: 380px;
$tooltip-ribbon-height: 40px;

$z-index-primary-sidebar: 1000;
$z-index-upload-progress-overlay: 1000;
$z-index-new-dropdown: 1000;
$z-index-review-tool: 1000;
$z-index-loader-overlay: 2000;
$z-index-toast-overlay: 3000;

//This break has been used in mixins and _grid.mono.scss file
$breakpoints-md: 768;
$breakpoints-lg: 992;
$breakpoints-xl: 1200;
$breakpoints-xxl: 1400;

@mixin flex-center($display: flex) {
  display: $display;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center($display: flex) {
  display: $display;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center($display: flex) {
  display: $display;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-vertical-center($display: flex) {
  display: $display;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row-vertical-center($display: flex) {
  display: $display;
  flex-direction: row;
  align-items: center;
}

@mixin custom-styled-button($padding: 0, $margin: 0) {
  cursor: pointer;
  border: none;
  outline: none;
  padding: $padding;
  margin: $margin;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin disable-text-selection() {
  user-select: none;
}

@mixin scroller() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-200);

    &:hover,
    &:active {
      background-color: var(--ds-clr-secondary);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-700);

    &:hover {
      background-color: var(--ds-clr-gray-800);
    }

    &:active {
      background-color: var(--ds-clr-gray-800);
    }
  }
}

@mixin uploadScroller() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-200);

    &:hover,
    &:active {
      background-color: var(--ds-clr-secondary);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-700);

    &:hover {
      background-color: var(--ds-clr-gray-800);
    }

    &:active {
      background-color: var(--ds-clr-gray-800);
    }
  }
}

@mixin scroller-content() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-200);

    &:hover,
    &:active {
      background-color: var(--ds-clr-secondary);
    }
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--ds-clr-gray-700);

    &:hover {
      background-color: var(--ds-clr-gray-800);
    }

    &:active {
      background-color: var(--ds-clr-gray-800);
    }
  }
}

@mixin hideScroller() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin mq($break) {
  @media screen and (min-width: '#{$break}px') {
    @content;
  }
}

@mixin mq-h($break) {
  @media screen and (min-height: '#{$break}px') {
    @content;
  }
}

@mixin keyframes($name) {
  @-moz-keyframes #{$name} {
    @content;
  }

  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin placeholders() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}

//BREAKPOINT-MIXINS
//Example
//.example-header {
//  padding: 20px;
//  font-size: 16px;
//  @include mq('lg') {
//    padding-top: 30px;
//    font-size: 22px;
//  }
//}
$breakpoints: (
  'md': $breakpoints-md,
  'lg': $breakpoints-lg,
  'xl': $breakpoints-xl,
  'xxl': $breakpoints-xxl,
);

@mixin mediaquery($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

//Example
//width: toRem(16)

.header {
  padding: 0 40px 0 35px;
  background-color: #fbfbfd;
  font-weight: bold;
}

.headerCell {
  font-weight: bold !important;
  color: black;
  width: 13%;
  margin-right: 24px;
  &.wideCell {
    //flex: 2 1;
    width: 27%;
  }
  &.dateAdded {
    width: 10%;
    //margin-right: 20px;
    margin-left: 5px;
  }
  &.analysis {
    width: 28%;
    text-align: center;
  }
}
.subHeader {
  padding: 0 40px 0 66%;
  background-color: #fbfbfd;
}

.subHeaderCell {
  font-weight: bold !important;
  color: black;
  width: 16%;
  margin: 0px 2.8%;
  position: relative;
  &.wideCell {
    flex: 2 1;
  }
  .tooltip {
    position: absolute;
    left: 62%;
    bottom: -36px;
    width: max-content;
    padding: 0 10px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: $tooltip-back-color;
    transform: translateX(-50%);
    z-index: 1000;
    overflow: visible;
    display: none;
  }
  .arrow {
    position: absolute;
    display: none;
    top: -14px;
    left: 46%;
    width: 0px;
    height: 0px;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $tooltip-back-color;
    border-top: 8px solid transparent;
    //border-color: transparent transparent  $tooltip-back-color transparent;
    //filter: drop-shadow(0px -3px 1px rgba(64, 80, 137, 0.2))
  }
  &:hover {
    cursor: pointer;
    .tooltip {
      display: block;
      .arrow {
        display: block;
      }
    }
  }
}

.row {
  position: relative;
  padding: 0 5px 0 35px;
  margin-right: 20px;
  height: 54px;
  cursor: pointer;

  &.disableRowClick {
    cursor: default;
  }

  &:nth-child(even) {
    background-color: #fbfbfb;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 20px;
    display: block;
    content: '';
    height: 1px;
    background: $athens-gray;
  }

  .cell {
    flex: none;
    width: 13%;
    margin-right: 24px;

    .text {
      font-weight: 400;
    }
    &.wideCell {
      //flex: 1.9 1;
      width: 27%;
    }
    &.analysis {
      width: 35%;
      margin: 0px 10px;
    }
    &.dateAdded {
      width: 7%;
      margin-right: 30px;
      //margin-left: -10px;
    }
  }

  &:hover {
    background: $color-brand-lighter;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-color: transparent;
    color: $color-brand-docsumo;

    &:after {
      background: transparent;
    }

    .actionsCell {
      .btn {
        color: $color-primary;

        &:hover {
          color: #fff;

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
.modelTitle {
  width: 80%;
}
// .row {
//     position: relative;
//     padding: 5px 35px;
//     cursor: pointer;
//     min-height: 48px;
//     height: auto;

//     &.disableRowClick{
//         cursor: default;
//     }
//     &:nth-child(odd){
//         background-color: #FBFBFB;
//     }

//     &:after {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         right: 20px;
//         display: block;
//         content: "";
//         height: 1px;
//         background: $athens-gray;
//     }

//     .cell {
//         &:not(:last-of-type) {
//             margin-right: 24px;
//         }
//     }

//     // .actionsCell {
//     //     .btn {
//     //     }
//     // }

//     &:hover {
//         background: $color-brand-lighter;
//         border-top-right-radius: 24px;
//         border-bottom-right-radius: 24px;
//         border-bottom-color: transparent;
//         color: $color-brand-docsumo;

//         &:after {
//             background: transparent;
//         }

//         .actionsCell {
//             .btn {
//                 color: $color-primary;

//                 &:hover {
//                     color: #fff;

//                     &:before {
//                         opacity: 1;
//                     }
//                 }
//             }
//         }

//         // .titleCell {
//         //     .title {
//         //         color: $color-brand-docsumo;
//         //     }
//         // }

//         // .statusCell {
//         //     .text {
//         //         color: $color-brand-docsumo;
//         //     }
//         // }
//     }
// }
.tooltipContainer {
  left: -18% !important;
}

.arrowClass {
  left: 66% !important;
}
@media only screen and (max-width: 1500px) {
  .row {
    .cell {
      &.dateAdded {
        margin-right: 20px;
      }
    }
  }
  .tooltipContainer {
    left: -32% !important;
  }
  .arrowClass {
    left: 70% !important;
  }
}
