$font-size: 14px;
$line-height: 1.3;
$font-family: 'Lato', sans-serif;
$font-family--primary: 'Libre Baskerville', serif;
$font-family--secondary: 'Inter', sans-serif;
$font-weight-light: 300;
$font-light: 300;
$font-weight-regular: 400;
$font-regular: 400;
$font-weight-bold: 700;
$font-bold: 700;
$font-weight-extra-bold: 700;
$font-extra-bold: 700;

// Colors
$black: #000;
$white: #fff;
$alto: #d8d8d8;
$mine-shaft: #3e3e3e;
$dove-gray: #717171;
$titan-white: #ecefff;
$wild-sand: #f5f5f5;
$blue-haze: #cfd2e5;
$kashmir-blue: #52608f;
$mercury: #e6e6e6;
$athens-gray: #e8eaed;
$periwinkle: #D6E0FF;
$gallery: #EFEFEF;
$gray: #8A8A8A;
$gallery: #efefef;
$gray: #8a8a8a;

$color-primary: #405089;
$color-primary-lighter: #526199;
$color-primary-darker: #263875;
$color-error: #d0021b;
$color-success: #0c9d58;

$color-text-primary: #3d3d3d;
$color-text-error: #e35b46;
$color-text-dark: #707070;
$color-text-success: $color-success;
$tooltip-back-color: #062840;

$color-border-primary: #d8d8d8;
$color-light-background: #eeeeee;
$color-checkbox-edge: #979797;

$color-brand-docsumo: #4d61fc;
$color-brand-lighter: #f7f8ff;

$header-height: 60px;
$sidebar-width: 275px;
$page-title-height: 55px;
$page-footer-height: 60px;
$toast-width: 380px;
$tooltip-ribbon-height: 40px;

$z-index-primary-sidebar: 1000;
$z-index-upload-progress-overlay: 1000;
$z-index-new-dropdown: 1000;
$z-index-review-tool: 1000;
$z-index-loader-overlay: 2000;
$z-index-toast-overlay: 3000;

//This break has been used in mixins and _grid.mono.scss file
$breakpoints-md: 768;
$breakpoints-lg: 992;
$breakpoints-xl: 1200;
$breakpoints-xxl: 1400;

@mixin flex-center($display: flex) {
  display: $display;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center($display: flex) {
  display: $display;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center($display: flex) {
  display: $display;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-vertical-center($display: flex) {
  display: $display;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row-vertical-center($display: flex) {
  display: $display;
  flex-direction: row;
  align-items: center;
}

@mixin custom-styled-button($padding: 0, $margin: 0) {
  cursor: pointer;
  border: none;
  outline: none;
  padding: $padding;
  margin: $margin;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin disable-text-selection() {
  user-select: none;
}

@mixin scroller() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-200);

    &:hover,
    &:active {
      background-color: var(--ds-clr-secondary);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-700);

    &:hover {
      background-color: var(--ds-clr-gray-800);
    }

    &:active {
      background-color: var(--ds-clr-gray-800);
    }
  }
}

@mixin uploadScroller() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-200);

    &:hover,
    &:active {
      background-color: var(--ds-clr-secondary);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-700);

    &:hover {
      background-color: var(--ds-clr-gray-800);
    }

    &:active {
      background-color: var(--ds-clr-gray-800);
    }
  }
}

@mixin scroller-content() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--ds-clr-gray-200);

    &:hover,
    &:active {
      background-color: var(--ds-clr-secondary);
    }
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--ds-clr-gray-700);

    &:hover {
      background-color: var(--ds-clr-gray-800);
    }

    &:active {
      background-color: var(--ds-clr-gray-800);
    }
  }
}

@mixin hideScroller() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin mq($break) {
  @media screen and (min-width: '#{$break}px') {
    @content;
  }
}

@mixin mq-h($break) {
  @media screen and (min-height: '#{$break}px') {
    @content;
  }
}

@mixin keyframes($name) {
  @-moz-keyframes #{$name} {
    @content;
  }

  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin placeholders() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}

//BREAKPOINT-MIXINS
//Example
//.example-header {
//  padding: 20px;
//  font-size: 16px;
//  @include mq('lg') {
//    padding-top: 30px;
//    font-size: 22px;
//  }
//}
$breakpoints: (
  'md': $breakpoints-md,
  'lg': $breakpoints-lg,
  'xl': $breakpoints-xl,
  'xxl': $breakpoints-xxl,
);

@mixin mediaquery($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

//Example
//width: toRem(16)

$width-type-cell: 7.5rem;
$width-status-cell: 9.375rem;
$width-date-cell: 6.875rem;
$width-actions-cell: 8.75rem;

.skeletonView {
  flex: 1;
  width: 100%;

  .row {
    padding: 0 2.5rem 0 2.1875rem;
    border-bottom: 0.0625rem solid $athens-gray;
  }

  .pill {
    height: 0.625rem;
    background: $mercury;
    border-radius: 0.3125rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  .title {
    flex: 1;
    margin-left: 1.25rem;
  }

  .type {
    width: $width-type-cell;
    margin-left: 1.5rem;
  }

  .status {
    width: $width-status-cell;
    margin-left: 1.5rem;
  }

  .dateModified {
    width: $width-date-cell;
    margin-left: 1.5rem;
  }

  .dateAdded {
    width: $width-date-cell;
    margin-left: 1.5rem;
  }

  .actions {
    width: $width-actions-cell;
    margin-left: 1.5rem;
  }
}

.titleHeaderCell {
  flex: 1;
}
.typeHeaderCell {
  width: $width-type-cell;
}
.statusHeaderCell {
  width: $width-status-cell;
}
.dateModifiedHeaderCell {
  width: $width-date-cell;
}
.dateAddedHeaderCell {
  width: $width-date-cell;
}
.actionsHeaderCell {
  width: $width-actions-cell;
}

.checkboxCell {
}

.analysisHeader {
  .tooltip {
    position: absolute;
    color: #fff;
    background: $tooltip-back-color;
    transform: translateX(-50%);
    z-index: 1000;
    overflow: visible;
    left: 45%;
    top: 1.875rem;
    padding: 0.625rem;
    min-width: 12.5rem;
    width: auto;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    display: none;
  }
  .arrow {
    position: absolute;
    display: none;
    top: -0.875rem;
    left: 46%;
    width: 0rem;
    height: 0rem;
    transform: translateX(-50%);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $tooltip-back-color;
    border-top: 0.5rem solid transparent;
    //border-color: transparent transparent  $tooltip-back-color transparent;
    //filter: drop-shadow(0rem -0.1875rem .0625rem rgba(64, 80, 137, 0.2))
  }
  &:hover {
    cursor: pointer;
    .tooltip {
      display: block;
      .arrow {
        display: block;
      }
    }
  }
}

.titleCell {
  flex: 1;
  min-width: 0;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #8f8f8f;
    margin: auto 0.9375rem auto 0;

    &.icon_dark {
      color: $color-text-primary;
    }
  }

  .folderIcon {
    width: 1.5rem;
    height: 1.1875rem;
    flex-shrink: 0;
    color: #8f8f8f;
    margin: auto 0.9375rem auto 0;

    &.folderIcon_dark {
      color: $color-text-primary;
    }
  }

  .titleSection {
    display: flex;
  }

  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin: auto 0.9375rem auto 0;
  }

  .title {
    font-weight: $font-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .bulkDownload {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn {
        height: 1.75rem;
        width: 7.9375rem;
        margin-left: 0.625rem;
        background-color: transparent;
        border: 0.0625rem solid $color-primary;
        .icon {
          fill: $color-primary;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.125rem;
          position: relative;
          top: 0.125rem;
          > svg {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
    }
  }
}

.userCell {
  flex: 1;
  min-width: 0;

  .icon {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    color: #a3adce;
    margin-right: 0.9375rem;
  }
  .detailCell {
    .title {
      font-weight: $font-bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .subtitle {
      font-size: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.timeCell {
  font-size: 0.625rem;
  width: 33%;
  .timeBlock {
    display: flex;
    flex-direction: column;
    width: 98%;
    .timeField {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .timeElapsed {
        color: #919191;
      }
      .timeRemain {
        color: $color-brand-docsumo;
      }
    }
    .progressBar {
      border: 0.0625rem solid #e1e4ed;
      background-color: $color-border-primary;
      border-radius: 0.625rem;
      height: 0.9375rem;
      .progressDone {
        background-color: $color-brand-docsumo;
        border-radius: 0.625rem;
        width: 0;
        height: 100%;
        transition: 1s ease;
      }
    }
    .emailNotification {
      display: flex;
      justify-content: flex-end;
      .emailText {
        color: #919191;
      }
    }
  }
}

.analysis {
  display: flex;
  flex-direction: row;
  width: 70%;
  .analysisCell {
    width: 22%;
  }
}

.typeCell {
  width: $width-type-cell;
  .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #8f8f8f;
    margin-right: 0.9375rem;
  }
}

.statusCell,
.reviewStatusCell {
  width: $width-status-cell;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #8f8f8f;
    margin-right: 0.9375rem;
  }
  .iconStatus {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #8f8f8f;
    margin-left: 0.5625rem;
  }

  .text {
    margin-right: 0.625rem;
  }

  .errorStatusCell {
    display: flex;
    .text {
      margin: auto;
    }
  }
}

.reviewStatusCell {
  .reviewRequiredIcon {
    color: $color-primary-lighter;
  }

  .reviewingIcon {
    color: $color-primary-lighter;
  }

  .reviewSkippedIcon {
    color: #8f8f8f;
  }
}

.actionsCell {
  z-index: 0;
  .icon {
    position: relative;
    @include flex-center;
    margin-left: 0.9375rem;
    margin-top: 0.3125rem;
    width: 1.5rem;
    height: 1.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      color: $color-primary;
      margin: auto 0.625rem;
      z-index: 1;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 1.875rem;
      height: 1.875rem;
      bottom: 0.0313rem;
      right: 0.0625rem;
      background: $color-primary;
      border-radius: 50%;
      z-index: 0;
      opacity: 0;
    }

    .tooltip {
      position: absolute;
      left: 30%;
      top: 1.9375rem;
      width: 12.5rem;
      padding: 0.3125rem 0.3125rem;
      height: auto;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: left;
      color: #fff;
      background: $tooltip-back-color;
      transform: translateX(-50%);
      z-index: 5000;
      display: none;
    }
    .arrow {
      position: absolute;
      top: -0.9375rem;
      left: 50%;
      width: 0rem;
      height: 0rem;
      transform: translateX(-50%);
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $tooltip-back-color;
      z-index: 5000;
      display: none;
    }
    &:hover {
      cursor: pointer;
      color: white;
      &::before {
        opacity: 1;
      }
      svg {
        color: white;
      }
      .tooltip {
        display: block;
        .arrow {
          display: block;
        }
      }
    }
  }

  .btn {
    position: relative;
    @include flex-center;
    width: 1.75rem;
    //width: 2rem;
    height: 2rem;
    color: #8f8f8f;
    z-index: 0;
    // background: rgba(0,0,0,0.05);

    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      background: $color-primary;
      border-radius: 50%;
      z-index: 0;
      opacity: 0;
    }

    > svg {
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      z-index: 1;
    }

    .loaderIcon {
      animation: spin 1.4s infinite linear;
      transform: translateZ(0);
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .tooltip {
      position: absolute;
      left: -0.875rem;
      top: 2.25rem;
      width: 4.375rem;
      height: 1.625rem;
      font-size: 0.8125rem;
      line-height: 1.625rem;
      text-align: center;
      color: #fff;
      background: $color-primary;
      border-radius: 0.125rem;
      z-index: 2;
      display: none;

      &.wideTooltip {
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        padding: 0 0.5rem;
      }
    }

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      color: #fff;

      &:before {
        opacity: 1;
      }

      .tooltip {
        display: block;
      }

      .uploadIcon {
        color: #fff;
      }
    }

    .uploadIcon {
      width: 1.375rem;
      height: 1.375rem;
      color: $color-primary;
    }
  }

  .switch {
    .react-switch-handle {
      box-shadow: none;
    }
  }
  .switch + .btn {
    margin-left: 0.5rem;
  }
  .btn + .btn {
    margin-left: 0.5rem;
  }
}

.activeChanges {
  position: relative;
  &::after {
    position: absolute;
    left: 1.625rem;
    top: 0.3125rem;
    display: block;
    content: ' ';
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: var(--ds-clr-error);
  }
}

.headerActionsCell {
  z-index: 0;

  &__btn {
    color: var(--ds-clr-gray-800);

    &:hover {
      span {
        color: var(--ds-clr-primary);
      }
    }
  }

  div {
    margin-left: 0.1rem;
  }
}

.pushToProdTooltip {
  max-width: max-content;
}

.bottomActionsCell {
  &__btn {
    margin: 0 0.625rem 0 0;
  }
}

.dateCell {
  width: $width-date-cell;
}

.headerActionCellBtn {
  > svg {
    width: 1.1875rem !important;
    height: 1.1875rem !important;
    padding-right: 0.0625rem;
  }
}

.docSetting {
  > svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
.btnClass:disabled {
  background: #8f8f8f !important;
}
.docTitle {
  width: 5.9375rem;
  word-wrap: break-word;
}
.analytics {
  position: relative;
  top: 0.0625rem;
  left: 0.1938rem;
}
.duplicate {
  position: relative;
  top: 0.0625rem;
  left: 0.1875rem;
}
.download {
  position: relative;
}
.mail {
  position: relative;
  left: 0rem;
}
.auditLink {
  font-size: 0.875rem;
  color: $color-text-dark;
  text-decoration: underline;
  &:hover {
    font-weight: 600;
    text-decoration: none;
    color: $color-primary;
  }
  > p {
    width: 8.75rem;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
.toastClass {
  //height: 4.375rem;
  padding: 1.25rem 0.625rem !important;
  color: #911010;
  font-weight: bold;
}
.reviewToolTip {
  padding: 0.875rem 0.625rem !important;
}
.failed {
  text-align: center;
  width: 100%;
}
